ul {
    list-style-type: none;
    padding-left: 0;
}
.content {
    text-align: center;
}
span {
    background: black;
}
#spanId div {
    display: inline-grid;
    padding: 5px;
    margin: 5px;

}
.verde {
    background-color: green;
    border-style: dashed;
    border-color: cornflowerblue;
}

